<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
  </head>
  <body>
    <h1>{{ title }}</h1>
    <form method="post">
      <label for="incProf">Current Profit:</label>
      <input type="text" id="incProf" name="incProf" value="{{ incProf }}" required><br>

      <label for="incTime">Current Time:</label>
      <input type="text" id="incTime" name="incTime" value="{{ incTime }}" required><br>

      <label for="amountRun">Amount Run:</label>
      <input type="text" id="amountRun" name="amountRun" value="{{ amountRun }}" required><br>

      <label for="running">Still running (1/0):</label>
      <input type="text" id="running" name="running" required><br>

      <input type="submit" value="Submit">
    </form>
  </body>
</html>
