<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
  </head>
  <body>
    <h1>{{ title }}</h1>
    <form method="post">
      <label for="startingIsk">ISK Total before Abyss:</label>
      <input type="text" id="startingIsk" name="startingIsk" required><br>

      <label for="after_inv">ISK Total after Abyss:</label>
      <input type="text" id="after_inv" name="after_inv" required><br>

      <label for="timeLeft">Time Left when leaving:</label>
      <input type="text" id="timeLeft" name="timeLeft" required><br>

      <input type="submit" value="Submit">
    </form>
  </body>
</html>
